.visrey-container {
    background-color: #353744;
}

.overlayContainer {
    background-color: #45474d;
    // background-color: rgba(53, 55, 68,0.5);
    color: rgb(253, 255, 255);
}

// --organge: rgb(232, 116, 71);
// --green: rgb(83, 170, 124);