.map-container {
    width: 80vw;
    height: 100vh;
  }
  
  .map-frame {
    height: 100%;
  }
  
  #map {
    height: 100%;
  }

  @media (min-width: 575.99px) and (max-width: 991.98px) {

  }
  
  @media (max-width: 575.98px) {
    .map-container {
      width: 100vw;
      height: 80vh;
    }
  }