<div class="sidebar">
    <div class="nrow">
        <h3>Totoal Confirmed Cases</h3>
        <h5>Updated {{updatedMins}} {{updateTimeUnits}} ago</h5>
    </div>
    <div class="rnow">
        <h1 class="rednumber">{{totalNoOfCases}}</h1>
    </div>
    <div class="nrow">
        <div class="sm-dot yfil"></div> Active cases {{ totalActiveCases }}  {{changeASymbol}} {{changeInACases}}
    </div>
    <div class="nrow">
        <div class="sm-dot gfil"></div> Recovered cases {{ totalRecoveredCases }}  {{changeRSymbol}} {{changeInRCases}}
    </div>
    <div class="nrow">
        <div class="sm-dot nfil"></div> Fatal cases {{ totalFatalCases }}  {{changeFSymbol}} {{changeInFCases}}
    </div>
    <hr>
    <div class="row">
        <h5>Browse</h5>
        <div>
            Sort
        </div>
    </div>
</div>