.stats {
    h4 {
        color: #fff;
    }
}

.subText {
    color: #ccc;
    font-size: 0.8em;
}

.sm-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
}

.yfil {
    background-color: rgb(244, 195, 99);
}

.gfil {
    background-color: rgb(96, 187, 105);
}

.nfil {
    background-color: rgb(255, 100, 100);
}

.nrow {
    display: block;
    position: relative;
    text-align: left;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }