<div class="row header-panel">
    <div class="head-col">
        <div class="logo">
            <img src="../../../assets/logo.png">
        </div>
        <h3>COVID-19 Tracker</h3>
    </div>
    <div class="head-col">
        <!-- <div class="headbtn"> -->
            <button class="btn btn-primary"><i class="fa fa-share"></i></button>
        <!-- </div> -->
        <!-- <div class="headbtn"> -->
            <button class="btn btn-primary"><i class="fa fa-message"></i></button>
        <!-- </div> -->
        <!-- <div class="headbtn"> -->
            <button class="btn btn-primary"><i class="fa fa-info"></i></button>
        <!-- </div> -->
    </div>
</div>